---
import Layout from '../layouts/Layout.astro'

import Home from '../components/Home.astro'

import { AiImageComponent } from '../components/AiImageComponent'

import { AiImageRedesing } from '../components/AiImageRedesing'
---

<Layout title='AlwaysImages'>
  <main>
    <Home />
    <AiImageComponent client:visible />
    <!-- <AiImageRedesing client:visible /> -->
  </main>
</Layout>
