---
import Layout from '../layouts/Layout.astro'

import Home from '../components/Home.astro'

import { AiImageComponent } from '../components/AiImageComponent'

import AiRedesingPage from '../components/AiRedesingPage.astro'
---

<Layout title='AlwaysImages'>
  <main>
    <Home />
    <AiImageComponent client:visible />
    <!-- <AiRedesingPage client:visible /> -->
  </main>
</Layout>
