<a href="#generate-image" class="absolute bottom-0 mb-2">
  <svg
    xmlns='http://www.w3.org/2000/svg'
    width='50'
    height='50'
    fill='none'
    viewBox='0 0 24 24'
    class="opacity-50 animate-twBounce animate-infinite rounded-full  border border-transparent transition-all hover:border-white "
    ><path
      stroke='#fff'
      stroke-linecap='round'
      stroke-linejoin='round'
      stroke-miterlimit='10'
      stroke-width='1.5'
      d='M18.07 14.43 12 20.5l-6.07-6.07M12 3.5v16.83'></path></svg
  >
</a>
